<%= stylesheet_link_tag    'application' %>
<%= javascript_include_tag 'application' %>
<div class="slideshow-container">
  <% @channel.photos.each do |photo| %>
    <%= image_tag photo.url %>
  <% end %>
</div>
<script>
  remoteListener();
</script>
