<div class="splash-outer">
  <%= image_tag "kinly_photo_main.jpg", class: "splash-photo" %>
  <div class="splash-overlay">
    <span class="splash-text-upper">Welcome to Kinly</span><br>
    <span class="splash-text-lower">Your family on channel three!</span>
      <br>
    <a href="#about" class="splash-button">About Kinly</a>
  </div>
</div>


<div class="container body-content">
  <div class="row">
    <div class="welcome-bottom" id="about">

      <h3>About Kinly</h3>

      <h4>What is the problem you're trying to solve?</h4>
        <p>
          Long term care and other inpatient care facilities present physical and social barriers that can lead to the isolation of residents and patients. This can have a negative impact on overall well-being and recovery.
        </p>

      <h4>How do you plan to solve it?</h4>
        <p>
          Kinly is designed to facilitate connections between residents of long term care or other inpatient care facilities and their loved ones. The web app allows family members to collaborate online and curate family content (photos, videos, etc.) specifically tailored towards a loved one's preferences.
        </p>
        <p>
          This content is delivered through the cloud to a low-cost television set-top device. It can be accessed like any other television channel and controlled with any standard TV remote. Sharing rich media content with your loved ones will be as simple as saying, “Grandma, change to channel 3!”
        </p>
        <p>
          Beyond the wellness aspect of the app, there may be other medical uses such as patient deescalation, reminiscence therapy, and more.We are interested in exploring these other possible uses but would like a medical professional to consult with in order to bridge our knowledge gaps.
        </p>

    </div>
  </div>
</div>
