/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *:focus {
   outline: none !important;
 }


 html, body {
   font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
   font-size: 20px;
   line-height: 1.35;
   color: white;
   background-color: #2b2b2b;
 }

 h1{
   font-size: 50px;
   text-align: center;
   margin: 20px;
 }

  .home_text{
    margin: 20px;
  }

  .navbar-default {
    height: 52px;
    background-color: #13938e;
    border: none;
    border-radius: 0px !important;
    margin: 0;
  }

 .logo {
   img {
     width: 150px;
     margin-top: 2px;
   }
   position: absolute;
   top: 5;
   left: 30;
 }


.header-inner {
  width: 100%;
}

.nav-links-container {
  margin: 0 auto;
  width: 422px;
}

.nav-links {
  list-style-type: none;
  margin: 0;

  li {
    float: left;
    padding-right: 40px;
    a {
      color: white;
      font-weight: lighter;
      border: 1px solid white;
      padding: 5px 15px;
      font-size: 0.7rem;

      &:hover,
      &:focus {
        text-decoration: none;
        color: #13938e;
        background-color: white;
      }
    }

  }
}

.login-container {
  float: right;

  ul {
    list-style-type: none;

    .welcome-text {
      font-size: 0.75rem;
      display: block;
      margin-top: 15px;
      float: right;
    }

    li {
      margin-left: 15px;
      float: right;
      height: 52px;
      background-color: #0a5450;
      padding-top: 0;

      &:hover {
        background-color: #b8e1db;
        a {
          color: #0a5450;
          text-decoration: none;
        }
      }

      a {
        color: white;
        font-size: 0.8rem;
        font-weight: 400;
        display: block;
        height: 52px;
        line-height: 2.5rem;
      }
    }
  }
}

 a.navbar-brand {
   padding: 0px;
   color: #2b2b2b;

   img{
     width: 150px;
     padding: 5px;
   }
 }

 li{
   padding: 10px;
   border-style: 1px, solid, black;
 }

 .btn-primary {
   background: #13938e;
   border: none;
   margin: 2px;

   &:focus {
     background-color: #94d3c2;
   }

   &:hover{
     background-color: #94d3c2;
   }

   &:active,
   &:hover:active{
     background-color: #b8e1db;
   }
 }
