// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form {

  width: 400px;
  margin: 0 auto;

  * {
    border-radius: 0;
  }

  .btn-primary {
    padding: 3px 15px;
    margin: 0 auto;
  }

  label {
    font-weight: normal;
  }

  .actions {
    text-align: center;
  }
}

.login-heading {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.login-subtext {
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
}

.login-sub-subtext { /* super descriptive class names ftw.. */
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 45px;
}
